:root {
  --color-primary: #b69121;
  --color-primnary-variant: #dbb42c;
  --color-bg-1: #000000;
  --color-bg-2: #001e2d;
  --color-bg-3: #012734;
  --color-bg-4: #003347;
  --color-light: #e5e5e5;
  --color-white: #ffffff;


  --container-width-2xlg: 82%;
  --container-width-xlg: 84%;
  --container-width-lg: 88%;
  --container-width-md: 92%;
  --container-width-sm: 94%;
  
  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: rgb(229, 165, 93, 0.2);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--color-primary);
  border-radius: 0.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('Reels/mainbg.jpg') center/cover no-repeat fixed;
  line-height: 1.7;
}

h1, h2 {
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}

h2 {
  font-size: 3.5rem;
}

a {
  color: var(--color-white);
  transform: var(--transition);
}

a:hover {
  color: var(--color-primary);
  
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* ======================= NAV =======================  */

nav {
  height: 6rem;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

}

/* nav scroll effect via JS */

.window-scrolled {
  background: var(--color-bg-1);
  border-bottom: 0.2rem solid var(--color-light);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);

}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn {
  display: none;
}

.nav-logo {
  width: 8rem;
  /* background: red; */
}

.nav-socials {
  display: flex;
  gap: 1rem;
}

.nav-socials a {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  background: linear-gradient(var(--color-primnary-variant), var(--color-primary));
  border-radius: 0.5rem;
  color: var(--color-bg-4);
  display: grid;
  place-items: center;
  transition: var(--transition);
}

.uil-instagram-alt, .uil-facebook, .uil-youtube {
  font-size: 1.5rem;
}

.nav-socials a:hover {
  filter: brightness(150%);
}

/* ======================= REELS =======================  */

.reels-container {
  width: 80%;
  margin: 11rem auto;
  
}

.reels-container h1 {
  padding: 3.75rem 0;
  color: var(--color-light);
  font-size: 2.75rem;
  text-align: center;

}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  flex-basis: 50%;
  min-width: 15rem;
}

.feature-img {
  width: 80%;
  margin: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  transition: var(--transition);
}

.feature-img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);

}

.small-img-row {
  display: flex;
  background: var(--color-light);
  margin: 1.25rem 0;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 85%;
  transition: var(--transition);
  cursor: pointer;
}

.small-img {
  position: relative;
  
}

.small-img-row:hover {
  transform: scale(1.01);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.small-img img {
  width: 9.375rem;
}

.small-img-row p {
  margin-left: 1.25rem;
  color: var(--color-bg-1);
  line-height: 1.375rem;
  font-size: 0.938rem;
  
}

.play-btn {
  width: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.small-img .play-btn {
  width: 2rem;
}

.video-player {
  width: 75%;
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  display: none;
}

video:focus {
  outline: none;
}

.close-btn {
  position: absolute;
  top: 0.63rem;
  right: 0.625rem;
  width: 1.875rem;
  cursor: pointer;
}


/* CONTACT */

.contact-btn {
  color: var(--color-light);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
}

.contact-btn i {
  font-size: 3.5rem;
  position: absolute;
}

.reels-btn {
  background: linear-gradient(-30deg, var(--color-primnary-variant), var(--color-primary), var(--color-primnary-variant));
  position: absolute;
  right: 2%;
  bottom: 1rem;
}

.reels-btn:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1rem);
  color: var(--color-bg-1);
  filter: brightness(150%);

}

/* ======================= FOOTER =======================  */

footer {
  margin-top: 7rem;
  background: var(--color-bg-1);
  border-top: 0.2rem solid var(--color-light);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
}

.footer-container {
  padding-top: 5rem;
  width: 80vw;
  height: 20vh;
  overflow: hidden;
}

.footer-socials {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.footer-socials a {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  background: linear-gradient(var(--color-primnary-variant), var(--color-primary));
  border-radius: 0.5rem;
  color: var(--color-bg-4);
  display: grid;
  place-items: center;
  transition: var(--transition);
}

.footer-socials a:hover {
  filter: brightness(150%);
  
}

.copyright-container {
  color: var(--color-light);
}

.copyright {
  text-align: center;
}



@media screen and (max-width: 1536px) {
  .container {
    width: var(--container-width-2xlg);
    position: relative;
  }

  .contact-btn {
    width: 8rem;
    height: 8rem;
  }

  .contact-btn i {
    font-size: 3rem;
  }

  
}

@media screen and (max-width: 1280px) {
  .container {
    width: var(--container-width-xlg);
    position: relative;
  }

  .contact-btn {
    width: 7rem;
    height: 7rem;
  }

  .contact-btn i {
    font-size: 2.5rem;
  }

  .reels-container h1 {
    font-size: 2.50rem;
  }

  .reels-btn {
    bottom: 7rem;
  }
  

}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    position: relative;
  }

  h2 {
    font-size: 2.5rem;
  }

  .nav-socials {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    display: none;
    
  }

  .nav-links li {
    height: 5rem;
    box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
    animation: navAnimation 600ms ease forwards;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
  }

  .nav-links li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav-links li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav-links li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav-links li:nth-child(5) {
    animation-delay: 800ms;
  }

  @keyframes navAnimation {
    to {
      transform: rotateX(0);
      opacity: 1;
    }
  }

  .nav-links li a {
    background: var(--color-bg-1);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem 3rem;
    border-top: 1px solid var(--color-primary) ;
  }

  .nav-toggle-btn {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
  }

  #nav-toggle-close {
    display: none;
  }

  .video-player {
    width: 85%;
  }

  .reels-container h1 {
    font-size: 2.30rem;
    line-height: 0;
  
  }

  .contact-btn {
    width: 6rem;
    height: 6rem;
  }

  .contact-btn i {
    font-size: 2rem;
  }

  .reels-btn {
    bottom: 9rem;
  }
  

}


@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-sm);
    position: relative;
  }

  .reels-container {
    width: 80%;
    margin: 8rem auto;
    
  }
  
  .reels-container h1 {
    font-size: 2rem;
  }
  
  .row {
    display: block;
  }
  
  
  .feature-img {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    transition: var(--transition);
    border: 0.5rem double var(--color-primary);
  }
  
  .feature-img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  
  }
  
  .small-img-row {
    margin: 1.25rem 3rem;
  }
  
  
  .small-img-row:hover {
    transform: scale(1.01);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }
  
  .video-player {
    width: 95%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: none;
  }
  

  .reels-btn {
    bottom: -10rem;
  }
  
  

}


/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 640px) {
  .reels-container {
    width: 80%;
    margin: 8rem auto;
    
  }
  
  .reels-container h1 {
    font-size: 2rem;
  }
  
  .row {
    display: block;
  }
  
  
  .feature-img {
    width: 90%;
    margin: auto;
    margin-bottom: 4rem;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    transition: var(--transition);
    border: 0.5rem double var(--color-primary);
  }
  
  .feature-img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  
  }
  
  .small-img-row {
    margin: 1.25rem 2.1rem;
  }
  
  
  .small-img-row:hover {
    transform: scale(1.01);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }

  .small-img-row p {
    padding: 0.5rem;
    font-size: 0.8rem;
    
  }
  
  .video-player {
    width: 96%;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: none;
  }

  .reels-btn {
    bottom: -5rem;
  }
  

}

@media screen and (max-width: 475px) {

  .reels-container h1 {
    font-size: 1.5rem;
  }

  .feature-img {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    transition: var(--transition);
    border: none;
  }
  
  .feature-img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  
  }
  
  .small-img-row {
    margin: 1.25rem 0.2rem;
    background: var(--color-light);
    width: 100%;
  }

  .small-img-row p {
    padding: 0.2rem;
    font-size: 0.7rem;
    
  }
  
  .video-player {
    width: 96%;
    left: 50%;
    top: 38%;
  }

  .reels-btn {
    bottom: -1rem;
  }

  
  .play-btn {
  width: 1.5rem;

  }

  .small-img .play-btn {
  width: 1.5rem;
  }

  .close-btn {
    width: 1.2rem;
  }
  

  
}
 

